<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gamecontrollerdatatransfer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/swipenobackground"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.gamecontrollerdatatransfer.WifiConnectActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.gamecontrollerdatatransfer.PlayActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.example.gamecontrollerdatatransfer.ShakeActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.example.gamecontrollerdatatransfer.BluetoothConnectActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.example.gamecontrollerdatatransfer.UsbConnectActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.gamecontrollerdatatransfer.TransitionActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.gamecontrollerdatatransfer.TiltUpActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.gamecontrollerdatatransfer.TiltRightActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.gamecontrollerdatatransfer.TiltLeftActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.gamecontrollerdatatransfer.TiltDownActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.gamecontrollerdatatransfer.ControlsActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.gamecontrollerdatatransfer.ButtonsActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.gamecontrollerdatatransfer.PositionActivity"
            android:screenOrientation="reverseLandscape"
            android:label="@string/app_name" >
        </activity>
        
        
        <activity
            android:name="com.example.gamecontrollerdatatransfer.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>